// Paths are relative to (cargo root dir)/stylance
@use "../src/styles/color.scss" as colors;


div.LibContainer {
    display:flex;
    background-color: colors.$Dark;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 1dvh;
    row-gap: 20px;
}

div.HeaderRow {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


button.Tab {
    background-color: colors.$Mid;
    border-radius: 20px;
    padding: 8px;
    color: colors.$AccentLight;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

button.Tab:hover {
    background-color: colors.$MidLight;
}

button.TabSelected {
    color: colors.$AccentStrong;
}

h1.Title {
    color: colors.$AccentLight
}

div.ListContainer {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}