input.button {
  max-height: 1rlh;
  margin: .25rlh;
}

img.button {
  max-height: 1rlh;
  margin: .25rlh;
}

p.time_stamp {
    justify-self: center;
    margin: 0px;
}

div.input_group {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
