// Paths are relative to (cargo root dir)/stylance
@use "../src/styles/color.scss" as colors;

p.time_stamp {
  justify-self: center;
  width: 150px;
  margin: 0px;
}

div.input_group {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

svg.play_svg, svg.play_svg path, svg.play_svg rect {
  fill: colors.$AccentStrong !important;
}