@use "../src/styles/color.scss" as colors;
@use "../src/styles/sizes.scss" as sizes;

p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p.title {
  font-weight: 700;
  margin: 0px;
  margin-left: .5rlh;
  cursor: pointer;
}

p.title:hover {
  font-weight: 700;
  margin: 0px;
  margin-left: .5rlh;
  cursor: pointer;
  color: colors.$AccentStrong;
}

p.artist {
  font-weight: 300;
  margin: 0px;
  margin-left: .5rlh;
}

p.album {
  font-weight: 300;
  margin: 0px;
  margin-left: .5rlh;
  font-style: italic;
}

div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: sizes.$BorderRadius;
}

div.container:hover,
div.selected {
  background-color: colors.$Mid;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.left {
  display: flex;
  justify-content: left;
  width: 90%;
}

div.col_group {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.album_art_placeholder {
  fill: colors.$Light !important;
  height: sizes.$AlbumArt;
}
