@use "../src/styles/color.scss" as colors;
@use "../src/styles/sizes.scss" as sizes;

p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p.title {
  font-weight: 700;
  margin: 0px;
  margin-left: .5rlh;
  cursor: pointer;
}

p.title:hover {
  font-weight: 700;
  margin: 0px;
  margin-left: .5rlh;
  cursor: pointer;
  color: colors.$AccentStrong;
}

p.artist {
  font-weight: 300;
  margin: 0px;
  margin-left: .5rlh;
}

p.album {
  font-weight: 300;
  margin: 0px;
  margin-left: .5rlh;
  font-style: italic;
}

div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: sizes.$BorderRadius;
}

div.container:hover,
div.selected {
  background-color: colors.$Mid;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.left {
  display: flex;
  justify-content: left;
  width: 90%;
}

div.right {
  display: flex;
  justify-content: right;
  width: 10%;
}

div.col_group {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


// div.col_group_art {
//   flex-shrink: 0;
//   align-self: flex-start;
//   display: flex;
//   flex-direction: column;
// }

div.actions {
  float: right;
}

.album_art_placeholder {
  fill: colors.$Light !important;
  height: sizes.$AlbumArt;
}



// div.context_menu {
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   row-gap: 10px;
//   background-color: colors.$MidDark;
//   border-radius: sizes.$BorderRadius;
//   width: 12%;
//   padding: 20px;
// }
//
//
// button.context_menu {
//   background: transparent;
//   font-size: 20px;
//   font-weight: 500;
//   color: colors.$AccentLight;
//   border-radius: sizes.$BorderRadius;
//   border-color: transparent;
//   text-align: left;
//   padding: 10px;
// }
//
// button.context_menu:hover {
//   background-color: colors.$Mid;
// }
