@use "../src/styles/color.scss" as colors;
@use "../src/styles/sizes.scss" as sizes;

div.songs {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling when content exceeds max-height */
  border-radius: sizes.$BorderRadius;
}


div.SongListSourceTitleCard {
  background-color: colors.$Mid;
  border-top-left-radius: sizes.$BorderRadius;
  border-top-right-radius: sizes.$BorderRadius;
  padding: 20px;
  margin-bottom: 20px;
}


h1.SongListSourceTitle {
  padding: 0px;
  margin: 0px;
}

div.context_menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 30%;
}


button.context_menu {
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: colors.$AccentLight;
  border-radius: sizes.$BorderRadius;
  border-color: transparent;
  text-align: left;
  padding: 10px;
}

button.context_menu:hover {
  background-color: colors.$Mid;
}

div.sub_context_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: colors.$MidDark;
  width: 50%;
  height: fit-content;
  padding: 20px;
  box-shadow: -2px 2px 8px colors.$Darker;
}
